<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Recuperação de Senha - Tessera</title>
    <style>
      body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f9f7f4; margin: 0; padding: 0; color: #2c2c2c; }
      .container { max-width: 600px; margin: 40px auto; background-color:
      #ffffff; padding: 30px; border-radius: 10px; box-shadow: 0 5px 20px
      rgba(0, 0, 0, 0.08); border-top: 5px solid #d4af37; } .logo { text-align:
      center; margin-bottom: 30px; } .logo img { max-width: 180px; } .header {
      text-align: center; margin-bottom: 20px; } .header h2 { color: #1e1e1e;
      font-weight: 600; font-size: 24px; margin: 0; } .content { font-size:
      16px; line-height: 1.6; color: #444444; } .button { display: inline-block;
      margin-top: 30px; padding: 14px 28px; background-color: #d4af37; color:
      #ffffff; text-decoration: none; border-radius: 6px; font-weight: bold;
      transition: background 0.3s ease; align-items: center; justify-content:
      center;} .button:hover { background-color: #c19d2c; } .footer {
      margin-top: 40px; font-size: 12px; color: #888888; text-align: center; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img
          src="https://raw.githubusercontent.com/michaelwell23/projeto-alugueis-de-carro-tessera/refs/heads/master/server/src/modules/accounts/views/emails/logo-tessera.png"
          alt="Tessera - Aluguel de Veículos Exclusivos"
        />
      </div>
      <div class="header">
        <h2>Recuperação de Senha</h2>
      </div>
      <div class="content">
        <p>Olá {{name}},</p>
        <p>
          Recebemos uma solicitação para redefinir sua senha em sua conta
          Tessera. Para continuar, clique no botão abaixo:
        </p>

        <a href="{{resetLink}}" class="button">Redefinir Senha</a>

        <p>
          Se você não solicitou esta alteração, pode ignorar este e-mail com
          segurança. Sua senha permanecerá a mesma.
        </p>
        <p>Com exclusividade,<br />Equipe Tessera</p>
      </div>
      <div class="footer">
        ©
        {{year}}
        Tessera. Aluguel de Veículos. Todos os direitos reservados.
      </div>
    </div>
  </body>
</html>